*.bak
*.ez
nlw-*.tar
erl_crash.dump
tags
.DS_Store
.vim

docker/dbdata/
docker/couchdata/
docker/conf.d/nginx.conf
docker/docker-compose.yml
docker/firebase/key.json

__pycache__
api/.coverage
api/.elixir_ls/
api/public/static
api/public/media
api/public/clients
api/public/client
api/_build/
api/init.sql
api/cover/
api/deps/
api/doc/
api/.fetch
api/logfile
api/priv/static/

client/script_*
client/node_modules/
client/coverage/
client/build/
client/dist/
client/out/
client/.cache/
client/.env
client/.env.prod
client/.env.stag
client/.parcel-cache/
client/logfile
client/yarn-error.log

pwa/script_*
pwa/node_modules/
pwa/coverage/
pwa/build/
pwa/dist/
pwa/.cache/
pwa/logfile
pwa/yarn-error.log
